body {
  margin: 0px;
}

#game_grid {
  border: 2px tomato solid;
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}


.card {
  width: 33.3%;
  position: relative;
}


img {
  width: 100%
}

.front_face,
.back_face {
  position: absolute;
}